.container-header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;


        .logo-header {
            margin-left: 15px;

        }

        .menu-header {
                .list-header {
                    display: flex;
                    justify-content: space-around;
                    padding: 15px;
                    
                    li {
                        text-decoration: none;
                        list-style: none;
                        list-style-type: none;
                    }
                }
        }
}