.title-main {
    text-align: center;
    margin-top: 50px;
}

.cards-section {
    width: 100vh;
}

.main-section {
    display: flex;
    width: 100%;

        .text-main {
            width: 95%;
            align-items: right;
            margin-left: 150px;
        }
}




// .video-container{ 
//         .video-principal {
//             width: 100%;
//             object-fit: cover;
//             border: 5px dashed black;
//     }
// }

.video-container {
    position: relative;

    .video-principal {
                width: 100%;
                object-fit: cover;
                border: 5px black;
    }

    .text-video {
                position: absolute;
                top: 50%;
                left: 80%;
                transform: translate(-50%, -60%);
                text-align: center;
                background-color: #134898;
                color: white;
                opacity: 0.9;
                
    }
}


.display-list-footer {
    display: flex;
    padding: 40px;
    width: 100%;

        .flex-list-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        ul{
            list-style: none;
            text-decoration: none;
            margin: 0 auto;
        }

        li {
            display: inline-block;
            margin-right: 20px;
            list-style-type: none;
            text-decoration: none;
            margin-right: 60px;
        }

        .is-medium {
            margin-right: 50px;
        }
}